[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fuzzywuzzy = "*"
anitopy = "*"
python-telegram-bot = "*"
feedparser = "*"
python-levenshtein = "*"


[dev-packages]
